.listItem {
  margin-bottom: 20px;
}
  
.listItemText {
  margin-right: 10px;
}
  
.button {
  font-size: 10px;
  margin-left: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  background-color: #279abd;
}